.App {
    --header_height: 60px;
    font-family: 'Montserrat', sans-serif;
}

.hw {
    width: 100%;
    min-height: 200px;
    padding: 30px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    width: 165px;
    height: 27px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin: 130px 0 0 70px;
}