.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: red;
}

.input {
    padding: 0 5px;
    width: 372px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.input:focus {

}

.errorInput {
    width: 372px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.button {
    margin-left: 10px;
    padding: 5px 24px;
    gap: 10px;
    width: 78px;
    height: 36px;
    background-color: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
    color: #FFFFFF;
}

.button:focus {
    background-color: #004d96;
}

.button:active {
    background-color: #0066ce;
}

.button:disabled {
    background-color: #5eafff;
}

.text {
    margin: 10px 0;
    width: 143px;
    height: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    margin: 10px 0;
    width: 144px;
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
